DcSharpProject/server/server/XMLFile1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="routingscheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="interface">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IpAdress" type="xs:string" />
              <xs:element name="port" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>